{% extends "base.html" %}
{% load static %} 

{% block content %}
<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
        </ol>
    </nav>

    <div class="card-body">
        <form action="{% url 'add-expense' %}" method="post">
            {% include "partials/_messages.html" %}
            {% csrf_token %}
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control form-control-sm" name="amount" value="{{ values.amount }}" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control form-control-sm" name="description" value="{{ values.description }}" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" name="category" id="category-select" required>
                    {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                    <option value="Other">Add Other</option>
                </select>
            </div>
            <div class="form-group d-none" id="custom-category-group">
                <label for="custom-category">Enter Category</label>
                <input type="text" class="form-control form-control-sm" name="custom_category" id="custom-category">
            </div>
            <div class="form-group">
                <label for="expense_date">Date of Expense</label>
                <input type="date" class="form-control form-control-sm" name="expense_date" required>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm">
        </form>
    </div>
</div>

<!-- Link the external JavaScript file -->
<script src="{% static 'js/add_category.js' %}"></script>

{% endblock %}
