{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'incomes' %}">Incomes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
    </nav>

    <div class="card-body">
        <form action="{% url 'add-income' %}" method="post">
            {% include "partials/_messages.html" %}
            {% csrf_token %}
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control form-control-sm" name="amount" value="{{ values.amount }}" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control form-control-sm" name="description" value="{{ values.description }}" required>
            </div>
            <div class="form-group">
                <label for="source">Source</label>
                <select class="form-control" name="source" id="source-select" required>
                    {% for source in sources %}
                    <option value="{{ source.name }}">{{ source.name }}</option>
                    {% endfor %}
                    <option value="Other">Add Other source </option>
                </select>
            </div>
            <div class="form-group d-none" id="custom-source-group">
                <label for="custom-source">Enter Source</label>
                <input type="text" class="form-control form-control-sm" name="custom_source" id="custom-source">
            </div>
            <div class="form-group">
                <label for="income_date">Date of Income</label>
                <input type="text" class="form-control form-control-sm" name="income_date" id="income_date" placeholder="Select Date" required>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-primary-sm">
        </form>
    </div>
</div>

<!-- Include flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<!-- Include flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Initialize flatpickr -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        flatpickr("#income_date", {
            dateFormat: "Y-m-d",
            defaultDate: "today",
        });
    });
</script>

<!-- JavaScript to handle custom source field -->
<script src="{% static 'js/add_source.js' %}"></script>
{% endblock %}